<div class="ui stackable grid sylius-tabular-form">
    <div class="three wide column">
        <div class="ui large fluid vertical menu">
            <a class="item active" data-tab="email">{{ 'sylius.ui.email'|trans }}</a>

            <a class="item" data-tab="customer">{{ 'sylius.ui.customer'|trans }}</a>

            <a class="item" data-tab="discount">{{ 'sylius.ui.discount'|trans }}</a>
        </div>
    </div>

    <div class="thirteen wide column">
        <div>
            <div class="ui active tab" data-tab="email">
                <h3 class="ui top attached header">{{ 'sylius.ui.email'|trans }}</h3>

                <div class="ui attached segment">
                    {{ form_row(form.status) }}
                    {{ form_row(form.subject) }}
                    {{ form_row(form.template) }}
                    {{ form_row(form.sendDelay) }}
                </div>
            </div>
            <div class="ui tab" data-tab="customer">
                <h3 class="ui top attached header">{{ 'sylius.ui.customer'|trans }}</h3>

                <div class="ui attached segment">
                    {{ form_row(form.targetActive) }}
                    {{ form_row(form.targetInactive) }}
                    {{ form_row(form.targetWithoutOrder) }}
                </div>
            </div>
            <div class="ui tab" data-tab="discount">
                <h3 class="ui top attached header">{{ 'sylius.ui.discount'|trans }}</h3>

                <div class="ui attached segment">
                    {{ form_row(form.discountType) }}
                    {{ form_row(form.discountAmount) }}
                    {{ form_row(form.discountValidity) }}
                </div>
            </div>
        </div>
    </div>
</div>
