{% extends '@SyliusShop/Email/layout.html.twig' %}

{# @var order \App\Entity\Order\Order #}
{% block subject %}
    {{ "emails.no_checkout.subject"|trans({'%customerName%': (order.customer is not null ? order.customer.fullName : '')}) }}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_cart_summary', {'_locale': localeCode}) : url('sylius_shop_cart_summary', {'_locale': localeCode}) %}

    <div style="text-align: center; margin-bottom: 30px;">
        {{ "emails.no_checkout.cart"|trans({'%cart_expiration_period%': expiration_period}) }}
        <div style="margin: 10px 0;">
          <span style="border: 1px solid #eee; padding: 10px; color: #1abb9c; font-size: 28px;">
            {{ order.number }}
          </span>
        </div>
        {{ "emails.no_checkout.content"|trans }}
    </div>

    <div style="text-align: center; margin-bottom: 30px;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            {{ 'emails.no_checkout.action'|trans({}, null, localeCode) }}
        </a>
    </div>
{% endblock %}
